<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        
        <!-- to ensure proper rendering and touch -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="../../../../favicon.ico">

        <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
      
      {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        <!-- sourcing Bootstrap api Jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- sourcing Bootstrap api JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    
    <body>
                  <nav class="navbar navbar-inverse">
                        <div class="navbar-header">

                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span> 
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>

                          <a class="navbar-brand" href="#">Todo List</a>
                        </div>

                        <div class="collapse navbar-collapse" id="myNavbar">
                          <ul class="nav navbar-nav">
                            <li><a href="/">Todo</a></li>
                            <li><a href="todo/create">Add todo</a></li> 
                            
                          </ul>

                        </div> <!-- closing collapse navbar-collapse" -->
                    </nav> <!-- closing nav -->  
            <main class="container">
        
        <div class="row">
            <div class="col-md-12">
                
                {% for flash_message in app.session.flashBag.get('notice') %}
                    <div class="alert alert-success"> {{flash_message}} </div>
                {% endfor %}
                
                
                {% block body %}{% endblock %}
            </div>
        </div>

    </main><!-- /.container -->

      {% block javascripts %}{% endblock %}
      
  </body>
</html>
           